@media screen and (max-width: 1634px){
    .header-section .navber-section{
        max-width: 95vw;
    }

    .body-section{
        max-width: 95vw;
    }
}

@media screen and (max-width: 1116px){
    .body-section .right-and-left-side{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 168px 0 0 0;
    }

    .about .about-container{
        display: flex;
        flex-direction: column;
    }

    .about .about-container p{
        text-align: center;
    }
    
    .skills .progress-and-performence .container .sub-containers{
        display: flex;
        flex-direction: column;
    }

    .skills .progress-and-performence .container .sub-containers .sub-container-1 .progress-bar-container .progress-bar-group{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .skills .progress-and-performence .container .sub-containers .sub-container-1 .progress-bar-container .progress-bar-group label{
        margin: 8px 0 0 0;
    }

    .skills .progress-and-performence .container .sub-containers .sub-container-2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}