/* ======== HAEDER-SECTION-START ======== */

:root{
    --header-color: rgb(255, 255, 255);
    --body-color: rgb(244, 252, 244);
    --button-color: rgb(88, 255, 88);
    --border-color: rgb(88, 255, 88);
    --text-color: rgb(88, 255, 88);
    --progress-bar-color: rgb(16, 226, 16);
    --hover-color: rgb(0, 216, 0);
    --footer-color: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ==== NAVBER-SECTION-START ==== */

.header-section{
    background-color: var(--header-color);
    /* border-bottom: 2px solid rgb(88, 255, 88); */
    box-shadow: 4px 4px 2.8px 0 rgba(88, 255, 88, 788);
    position: fixed;
    top: 0;
    width: 100%;
}

.header-section .navber-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    max-width: 80vw;
    margin: auto;
}

.header-section .navber-section .logo h1{
    font-size: 26px;
    font-weight: 488;
    animation: slideRight 0.8s ease forwards;
}

/* .header-section .navber-section #text-animation h1{
    opacity: 0;
    transform: translateY(34px);
    animation: moveright 0.8s linear forwards;
} */

.header-section .navber-section .navber-links ul{
    display: inline-flex;
    gap: 26px;
}

.header-section .navber-section .navber-links ul li{
    list-style: none;
    animation: slideLeft 0.8s ease forwards;
}

.header-section .navber-section .navber-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* .header-section .navber-section #text-animation ul li a{
    opacity: 0;
    transform: translateY(34px);
    animation: moveleft 0.8s linear forwards;
} */

.header-section .navber-section .navber-links ul li a:hover{
    color: var(--hover-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: 488;
    transition: 0.8ms;
}

/* .header-section .navber-section .menu-icon{
    cursor: pointer;
    display: none;
} */

.menu-icon{
    display: none;
}

/* ==== NAVBER-SECTION-COMPLETE ==== */

/* ======== HEADER-SECTION-COMPLETE ======== */

/* ======== BODY-SECTION-START ======== */

body{
    background-color: var(--body-color);
}

.body-section{
    max-width: 80vw;
    margin: auto;
}

/* ==== RIGHT-AND-LEFT-SIDE-START ==== */

.right-and-left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 268px 0 8px 0; */
    height: 100vh;
}

.social-links{
    display: flex;
    gap: 88px;
    margin: 88px 0 0 0;
    animation: fadeIn 0.8s ease forwards;
}

.social-links a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.right-and-left-side .hire-me{
    padding:8px 16px 8px 16px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px 0;
    font-size: 26px;
    background-color: var(--button-color);
    animation: fadeIn 0.8s ease forwards;
}

.right-and-left-side .hire-me:hover{
    background-color: var(--hover-color);
    transition: all 0.8ms;
}

.right-and-left-side .github{
    padding: 8px 16px 8px 16px;
    margin: 0 34px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px 0;
    font-size: 26px;
    background-color: var(--button-color);
    animation: fadeIn 0.8s ease forwards;
}

.right-and-left-side .github:hover{
    background-color: var(--hover-color);
    transition: all 0.8ms;
}

.right-and-left-side .github a{
    text-decoration: none;
    color: black;
}

.right-and-left-side .download-cv{
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px 0;
    font-size: 26px;
    background-color: var(--button-color);
    animation: fadeIn 0.8s ease forwards;
}

.right-and-left-side .download-cv:hover{
    background-color: var(--hover-color);
    transition: all 0.8ms;
}

.right-and-left-side .download-cv a{
    text-decoration: none;
    color: black;
}

.right-and-left-side .right-side .body-text-1{
    font-size: 54px;
    animation: slideRight 0.8s ease forwards;
}

.right-and-left-side .right-side .body-text-2{
    font-size: 34px;
    margin: 44px 0 34px 0;
    animation: slideRight 0.8s ease forwards;
}

.right-and-left-side .right-side #element{
    font-weight: 516;
    letter-spacing: 2px;
    color: var(--text-color);
    animation: slideUp 2s ease forwards;
}

.right-and-left-side .left-side .background-image{
    width: 468px;
    border-radius: 50%;
    /* border: 16px solid var(--border-color); */
    box-shadow: 0 0 16px 16px rgba(88, 255, 88, 788);
    animation: slideLeft 0.8s ease forwards;
}

.hr-1{
    margin: 216px 0 0 0;
}

/* ==== RIGHT-AND-LEFT-SIDE-COMPLETE ==== */

/* ==== ABOUT-START ==== */

.about .about-text{
    text-align: center;
    font-size: 88px;
    letter-spacing: 8px;
    margin: 8px 0;
}

.about .about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
    margin: 78px 0 78px 0;
}

.about .about-container .background-image{
    width: 488px;
    border-radius: 50%;
    box-shadow: 0 0 16px 16px rgba(88, 255, 88, 788);
}

p{
    font-size: 26px;
    font-weight: 488;
    letter-spacing: 2px;
    line-height: 58px;
}

.hr-2{
    margin: 216px 0 0 0;
}

/* ==== ABOUT-COMPLETE ==== */

/* ==== SKILLS-START ==== */

.skills .skills-text{
    text-align: center;
    font-size: 88px;
    letter-spacing: 8px;
    margin: 8px 0;
}

.container .sub-containers .sub-container-1 .text-1{
    text-align: center;
    font-size: 34px;
    letter-spacing: 2px;
    text-decoration: underline;
}

.container{
    margin: 26px 0;
}

.container .sub-containers{
    display: flex;
    justify-content: space-between;
}

.container .progress-bar-container{
    margin: 16px 0;
}

.skill {
    margin-bottom: 20px;
}

.skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.progress-bar {
    background: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: 26px;
    width: 488px;
}

.progress {
    background: var(--progress-bar-color);
    height: 100%;
    width: 0;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 2s ease-in-out;
}

.container .sub-containers .sub-container-2 .text-2{
    text-align: center;
    font-size: 34px;
    letter-spacing: 2px;
    text-decoration: underline;
}

/* .container .sub-containers .sub-container-2{
    margin: 26px 0;
} */

.container .sub-containers .sub-container-2 .progress-circle-container{
    display: flex;
    gap: 26px;
    margin: 26px 0;
}

.container .sub-containers .sub-container-2 .progress-circle-container .progress-circle-1{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.container .sub-containers .sub-container-2 .progress-circle-container .progress-circle-2{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.container .sub-containers .sub-container-2 .progress-circle-container .circular-progress{
    position: relative;
    height: 254px;
    width: 254px;
    border-radius: 50%;
    background: conic-gradient(green 3.6deg, whitesmoke 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sub-containers .sub-container-2 .progress-circle-container .circular-progress::before{
    content: "";
    position: absolute;
    height: 216px;
    width: 216px;
    border-radius: 50%;
    background-color: white;
}

.container .sub-containers .sub-container-2 .progress-circle-container .circular-progress .progress-value{
    position: relative;
}

.container .sub-containers .sub-container-2 .progress-circle-container .circular-progress .progress-text{
    position: relative;
}

.hr-3{
    margin: 126px 0 0 0;
}

/* ==== SKILLS-SECTION-COMPLETE ==== */

/* ==== EXPERIENCE-SECTION-START ==== */

.experience .experience-text{
    text-align: center;
    font-size: 88px;
    letter-spacing: 8px;
    margin: 8px 0;
}

.experience .experience-container .experience-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 54px 0;
}

.experience .experience-container .experience-cards .experience-card{
    border: 2px solid black;
    width: 278px;
    height: 278px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px 0;
}

.experience .experience-container .experience-cards .experience-card .card-header-1{
    background-image: url(/public/images/experience/amazon.png);
    background-size: 100%;
    background-position: center;
    height: 134px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.experience .experience-container .experience-cards .experience-card .card-header-2{
    background-image: url(/public/images/experience/ixigo.png);
    background-size: 100%;
    background-position: center;
    height: 134px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.experience .experience-container .experience-cards .experience-card .card-header-3{
    background-image: url(/public/images/experience/portfolio.png);
    background-size: 100%;
    background-position: center;
    height: 134px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.experience .experience-container .experience-cards .experience-card .card-header-4{
    background-image: url(/public/images/experience/music.png);
    background-size: 100%;
    background-position: center;
    height: 134px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.experience .experience-container .experience-cards .experience-card .card-header-5{
    background-image: url(/public/images/experience/blog.png);
    background-size: 100%;
    background-position: center;
    height: 134px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.experience .experience-container .experience-cards .experience-card .card-header-6{
    background-image: url(/public/images/experience/zee.png);
    background-size: 100%;
    background-position: center;
    height: 134px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.experience .experience-container .experience-cards .experience-card .card-header-7{
    background-image: url(/public/images/experience/ixigo.png);
    background-size: 100%;
    background-position: center;
    height: 134px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.experience .experience-container .experience-cards .experience-card .card-header-8{
    background-image: url(/public/images/experience/ixigo.png);
    background-size: 100%;
    background-position: center;
    height: 134px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.experience .experience-container .experience-cards .experience-card .card-body{
    background-color: white;
    height: 140px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.experience .experience-container .experience-cards .experience-card .card-text{
    text-align: center;
    padding: 54px 0 0 0;
}

.hr-4{
    margin: 126px 0 0 0;
}

/* ==== EXPERIENCE-SECTION-COMPLETE ==== */

/* ==== SERVICES-SECTION-START ==== */

.services .services-text{
    text-align: center;
    font-size: 88px;
    letter-spacing: 8px;
    margin: 8px 0;
}

.services .services-container .services-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 54px 0;
}

.services .services-container .services-cards .services-card{
    border: 2px solid black;
    width: 278px;
    height: 278px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px 0;
}

.hr-5{
    margin: 126px 0 0 0;
}

/* ==== SERVICES-SECTION-COMPLETE ==== */

/* ==== CONTACT-SECTION-START ==== */

.contact .contact-text{
    text-align: center;
    font-size: 88px;
    letter-spacing: 8px;
    margin: 8px 0;
}

.contact .contact-container .contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 8px 0 0 0;
}

.contact .contact-container .contact-form .form-group{
    display: flex;
    flex-direction: column;
}

.contact .contact-container .contact-form .form-group label{
    margin: 8px 0 0 0;
}

.contact .contact-container .contact-form .form-group #enter-your-name{
    width: 488px;
    height: 44px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
}

.contact .contact-container .contact-form .form-group #enter-your-email{
    width: 488px;
    height: 44px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
}

.contact .contact-container .contact-form .form-group #write-your-message{
    width: 488px;
    height: 344px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
}

.contact .contact-container .contact-form .form-button{
    width: 488px;
    font-size: 26px;
    letter-spacing: 2px;
    margin: 16px 0;
    padding: 16px 0 16px 0;
    background-color: var(--button-color);
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px 0;
}

.contact .contact-container .contact-form .form-button:hover{
    background-color: var(--hover-color);
    transition: all 0.8ms;
}

.hr-6{
    margin: 126px 0 0 0;
}

/* ==== CONTACT-SECTION-COMPLETE ==== */

/* ======== BODY-SECTION-COMPLETE ======== */

/* ======== FOOTER-SECTION-START ======== */

.footer-section{
    background-color: var(--footer-color);
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

.footer-section .footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    box-shadow: 0 4px 4px 8px rgba(88, 255, 88, 788);
}

/* ======== FOOTER-SECTION-COMPLETE ======== */