/* ======== HAEDER-SECTION-START ======== */

:root{
    --header-color: rgb(226, 226, 226);
    --body-color: rgb(255, 255, 255);
    --button-color: rgb(88, 255, 88);
    --border-color: rgb(88, 255, 88);
    --text-color: rgb(88, 255, 88);
    --progress-bar-color: rgb(16, 226, 16);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ==== NAVBER-SECTION-START ==== */

.header-section{
    background-color: var(--header-color);
    border-bottom: 2px solid rgb(88, 255, 88);
}

.header-section .navber-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    max-width: 80vw;
    margin: auto;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.header-section .navber-section .logo h1{
    font-size: 26px;
    font-weight: 488;
}

.header-section .navber-section .navber-links ul{
    display: inline-flex;
    gap: 26px;
}

.header-section .navber-section .navber-links ul li{
    list-style: none;
}

.header-section .navber-section .navber-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.header-section .navber-section .navber-links ul li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: 488;
    transition: 0.8ms;
}

.header-section .navber-section .menu-icon{
    cursor: pointer;
    display: none;
}

/* ==== NAVBER-SECTION-COMPLETE ==== */

/* ======== HEADER-SECTION-COMPLETE ======== */

/* ======== BODY-SECTION-START ======== */

body{
    background-color: var(--body-color);
}

.body-section{
    max-width: 80vw;
    margin: auto;
}

/* ==== RIGHT-AND-LEFT-SIDE-START ==== */

.right-and-left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 216px 0 8px 0;
}

.social-links{
    display: flex;
    gap: 88px;
}

.social-links a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.right-and-left-side .see-more-button{
    padding:8px 16px 8px 16px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px 0;
    font-size: 26px;
    background-color: var(--button-color);
}

.right-and-left-side .github{
    padding: 8px 16px 8px 16px;
    margin: 0 34px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px 0;
    font-size: 26px;
    background-color: var(--button-color);
}

.right-and-left-side .github a{
    text-decoration: none;
    color: black;
}

.right-and-left-side .download-cv{
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px 0;
    font-size: 26px;
    background-color: var(--button-color);
}

.right-and-left-side .download-cv a{
    text-decoration: none;
    color: black;
}

.right-and-left-side .right-side .body-text-1{
    font-size: 54px;
}

.right-and-left-side .right-side .body-text-2{
    font-size: 34px;
    margin: 44px 0 34px 0;
}

.right-and-left-side .right-side #element{
    font-weight: 516;
    color: var(--text-color);
}

.right-and-left-side .left-side .background-image{
    width: 416px;
    border-radius: 588px;
    border: 16px solid var(--border-color);
    box-shadow: 2px 2px 2px 0;
}

.hr-1{
    margin: 216px 0 0 0;
}

/* ==== RIGHT-AND-LEFT-SIDE-COMPLETE ==== */

/* ==== ABOUT-START ==== */

.about .about-text{
    text-align: center;
    font-size: 88px;
    letter-spacing: 8px;
    margin: 8px 0;
}

p{
    text-align: center;
    font-size: 26px;
}

.hr-2{
    margin: 44px 0 0 0;
}

/* ==== ABOUT-COMPLETE ==== */

/* ==== SKILLS-START ==== */

.skills .skills-text{
    text-align: center;
    font-size: 88px;
    letter-spacing: 8px;
    margin: 8px 0;
}

.progress-and-performence .all-texts{
    display: flex;
    justify-content: space;
}

.container{
    margin: 26px 0;
}

.container .progress-container{
    margin: 16px 0;
}

.container .progress-container .progress-bar{
    position: relative;
    width: 488px;
    height: 26px;
    border-radius: 8px;
    background-color: whitesmoke;
}

.container .progress-container .progress-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    text-align: center;
    color: black;
    font-weight: 788;
    font-size: 16px;
    border-radius: 8px;
    background: var(--progress-bar-color);
    transition: width .8s linear;
}