.home-section{
    background-image: url('../assets/images/backgroundimage.jpg');
    background-size: 100%;
    background-attachment: fixed;
    height: 100vh;
}

.home-section .right-and-left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 194px 0 194px;
}

.home-section .right-and-left-side .right-side{
    display: flex;
    flex-direction: column;
    gap: 68px;
}

.home-section .right-and-left-side .right-side .text-1{
    color: white;
    font-size: 54px;
    font-weight: 588;
    letter-spacing: 2px;
}

.home-section .right-and-left-side .right-side .text-2{
    color: white;
    font-size: 34px;
    font-weight: 588;
    letter-spacing: 2px;
}

.home-section .right-and-left-side .right-side .buttons{
    display: flex;
    gap: 16px;
}

.home-section .right-and-left-side .right-side .buttons #buttons{
    padding: 12.44px 22.44px 12.44px 22.44px;
    border-radius: 8px;
    border-color: var(--border-color);
    color: var(--text-color);
    font-size: 26px;
    font-weight: 588;
    letter-spacing: .88px;
    background-color: transparent;
}

.home-section .right-and-left-side .right-side .social-links{
    display: flex;
    gap: 116px;
}