@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-section{
    background-color: var(--header-color);
    box-shadow: 4px 4px 2.8px 0 rgba(88, 255, 88, 788);
    position: fixed;
    top: 0;
    width: 100%;
}

.header-section .navber-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    max-width: 80vw;
    margin: auto;
}

.header-section .navber-section .logo{
    font-size: 34px;
    font-weight: 588;
}

.header-section .navber-section .navber-links{
    display: flex;
    gap: 26px;
}

.header-section .navber-section .navber-links li{
    list-style: none;
}

.header-section .navber-section .navber-links li a{
  text-decoration: none;
  color: black;
  font-weight: 588;
  letter-spacing: .88px;
}

.header-section .navber-section .navber-links li a:hover{
  text-decoration: underline;
  color: var(--hover-color);
  transition: all 0.8ms;
}

.navber-section .hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.navber-section .hamburger .bar {
  width: 26px;
  height: 4px;
  background-color: black;
  border-radius: 8px;
  display: block;
}