/* ======== NAVBER-SECTION-START ======== */

:root {
  --header-color: rgb(255, 255, 255);
  --body-color: rgb(244, 252, 244);
  --button-color: rgb(88, 255, 88);
  --border-color: rgb(88, 255, 88);
  --text-color: rgb(88, 255, 88);
  --progress-bar-color: rgb(16, 226, 16);
  --hover-color: rgb(0, 244, 0);
}

.navber{
  background-color: var(--header-color);
  box-shadow: 1.16px 1.16px 2.8px 2.8px rgba(88, 255, 88, 788);
  position: fixed;
  top: 0;
  width: 100%;
}

.navber .navber-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  max-width: 80vw;
  margin: auto;
}

.navber .navber-section .logo{
  font-size: 34px;
  font-weight: bold;
  letter-spacing: .88px;
}

.navber .navber-section .navber-links{
  display: flex;
  gap: 44px;
}

.navber .navber-section .navber-links li{
  list-style: none;
  font-weight: 588;
  letter-spacing: .88px;
}

.navber .navber-section .navber-links li:hover{
  color: var(--text-color);
  transition: all 0.8ms;
}

.navber .navber-section .buttons a button{
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  border: none;
  background-color: var(--button-color);
  font-size: 16px;
  font-weight: 588;
  letter-spacing: .88px;
  cursor: pointer;
}

.navber .navber-section .buttons a button:hover{
  background-color: var(--hover-color);
  transition: all 0.8ms;
}

/* ======== NAVBER-SECTION-COMPLETE ======== */

/* ======== HOME-SECTION-START ======== */

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 188px 0 188px;
}

.home .right-side{
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.home .right-side .text-1{
  font-size: 54px;
  font-weight: 588;
  color: white;
  letter-spacing: .88px;
}

.home .right-side .text-2{
  font-weight: 588;
  color: white;
  letter-spacing: .88px;
}

.home .right-side .explore-button{
  padding: 16px 0 16px 0;
  border-radius: 16px;
  border: none;
  /* background-color: var(--button-color); */
  background-image: linear-gradient(to right, rgb(0, 34, 0) , rgb(0, 188, 0));
  font-size: 26px;
  font-weight: 588;
  letter-spacing: 2px;
}

.home .right-side .explore-button:hover{
  background-color: var(--hover-color);
  transition: all 0.8ms;
}

.home .right-side .social-links{
  display: flex;
  gap: 88px;
}

.home .left-side .background-image{
  border-radius: 116px;
  box-shadow: 0 0 7.88px 7.88px rgba(88, 255, 88, 788);
}

/* ======== HOME-SECTION-COMPLETE ======== */